@font-face {
  font-family: "Montserrat-Bold";
  src: url('/fonts/Montserrat/Montserrat-variable.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('/fonts/Montserrat/Montserrat-variable.ttf');
  font-weight: 400;
}

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Montserrat-Regular;
}

h1 {

  font-family: Montserrat-Bold;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

body {}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {}
}
