.main {
  display: grid;
  grid-template-columns: repeat(6, 300px);
  gap: 1rem;
  grid-auto-flow: dense;
}

.smallBox,
.medBox,
.bigBox {
  height: 200px;
  background-color: aliceblue;
}

.smallBox {
  min-width: 200px;
}

.medBox {
  min-width: 350px;
}

.bigBox {
  min-width: 450px;
}
